[Logs]
log_path: /Users/sandeep/PycharmProjects/GCPCostCalculator/diskinfo.log
log_level: INFO

[gcp]
projects: ["dazzling-skill-210617"]
diskMetrics: ["instance/disk/read_bytes_count", "instance/disk/read_ops_count", "instance/disk/write_bytes_count", "instance/disk/write_ops_count"]
instanceMetrics: ["instance/cpu/utilization", "instance/uptime", "instance/cpu/reserved_cores"]
